.about-us-section {
  margin-bottom: 104px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 0;
    margin-bottom: 176px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }

  &__title {
    max-width: 264px;
    margin-bottom: 24px;
    font-size: 32px;

    @media screen and (min-width: $bp-tablet) {
      font-family: 'Play', sans-serif;
      font-size: 64px;
      font-weight: 700;
      max-width: 529px;
      margin-bottom: 40px;
    }
  }

  &__content-block {
    padding-top: 0;

    @media screen and (min-width: $bp-desktop) {
      padding-top: 40px;
    }
  }

  &__text-provision {
    font-size: 22px;
    line-height: 1.73;
    margin-bottom: 40px;
    max-width: 710px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-us-image {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
  }

  &__photos {
    display: flex;

    &:first-child {
      align-items: flex-end;
    }
  }

  &__photo {
    border-radius: 50%;
    height: 328px;
  }
}
