.contact-section {
  display: flex;
  padding: 0px 100px;
}

.container-form-map {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 96px;
}

.section-contact {
  display: flex;
}

.container-map {
  padding: 0 88px;
}
