.footer {
  position: relative;
  padding: 32px 0;
  overflow: hidden;
  background-image: url(../images/footer-bg.png);
  background-color: var(--color-primary-dark);

  @media screen and (min-width: $bp-tablet) {
    padding: 56px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    flex-basis: 50%;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 42px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__nav-menu,
  &__logo,
  &__address-info {
    flex-grow: 1;
  }

  &__nav-list {
    text-align: center;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }
  &__nav-link {
    font-size: 16px;
    color: var(--color-primary-white);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: var(--color-primary-light);
      transform: scale(1.1);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    gap: 16px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__address {
    flex-basis: 50%;
  }

  &__address-list {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address-link {
    display: none;

    font-size: 16px;
    color: var(--color-primary-white);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: var(--color-primary-light);
      transform: scale(1.1);
    }

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__address-pol {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    color: var(--color-primary-white);
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }

    &:hover {
      color: var(--color-primary-light);
      transform: scale(1.05);
    }
  }

  &__address-copyright {
    color: var(--color-secondary-light);
    font-size: 13px;
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__contacts-icon {
    fill: var(--color-primary-white);
    margin-right: 0px;
    transition: all 0.2s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      fill: var(--color-primary-light);
      transform: scale(1.1);
    }
    @media screen and (min-width: $bp-tablet) {
      margin-top: 16px;
    }
  }

  &__image {
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/image-pipette_footer.png);
    bottom: 0px;
    content: '';
    width: 245px;
    height: 152px;
    right: 0;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
